.footer{
    margin-top: 80px;
    backdrop-filter: blur(60%);
    background: linear-gradient(to bottom, #326075, #000000);
    padding: 30px 10px 40px 10px;
}
.user-info :global(.form-control) {
    background-color: var(--primary-color) !important;
    border: none;
    outline: none;
    color: var(--white-color);
}
  
@media (max-width: 768px) {
    footer Form{
      margin-top: 20px; 
    }
}